@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  font-family: 'poppins', sans-serif;
  font-size: 14px;
  color: rgb(201, 201, 201);
}

body {
  background: url("/images/bg1-small.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/* If your screen is greater than 1080p, have new big image */
@media only screen and (min-width: 1440px) {
  body {
    background: url("/images/bg1.jpg") no-repeat center center fixed;
  }
}

p {
  color: white;
}

td {
  color: white;
}

label{
  width: fit-content;
  display: inline-block;
}

.topnav {
  background-color: #223;
  overflow: hidden;
  width: 100%;
}

.topnav a {
  color: #fff;
  padding: 20px 10px;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  color: white;
}

.topnav a:hover {
  background-color: #334;
  color: white;
}

.topnav a.active {
  color: white;
}
.navbar {
  padding: .8rem;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size:1.1em !important;
}

.container {
  margin-top: 10px;
  margin-bottom: 50px;
  background-color: rgb(16, 16, 16);
  border-radius: 10px;
  height: 100%;
  opacity: 90%;
  transform: translateZ(0);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  will-change: transform;
}


.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 14px 2px;
  cursor: pointer;
}


.button1 {
  background-color: #45da4d; 
  color: black; 
  border: 2px solid #000000;
}

.button1:hover {
  background-color: #288d1b;
  color: white;
  size: 6;
}

.button2 {
  background-color: #f33636; 
  color: black; 
  border: 2px solid #000000;
}

.button2:hover {
  background-color: #ba0000;
  color: white;
  size: 6;
}

a.navbar-brand {
  filter: drop-shadow(2px 4px 6px black);
  -webkit-filter: drop-shadow(2px 4px 6px black);
}

a.navbar-brand img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

#navbarResponsive li{
  text-shadow: 2px 4px 6px black;
}

#results-table {
  table-layout: fixed;
}